<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Payers</title>


	<style type="text/css">

		*{
			padding: 0;
			margin: 0;
		}

		h1{
			padding: 20px 0 50px 10px;
		}
		
		article{
			margin-left: 20px;
			margin-bottom: 60px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 5px;
		}

		input{
			display: block;
			margin-bottom: 10px;
			height: 20px;
			width: 100%;
			border: 1px solid black;
		}

	</style>
</head>




<body>

	<h1>Payers Queue</h1>

		<%for(i = data.length - 1; i>=0; i--){%>
			<article>
				<h2><%=data[i].fullName%></h2>
				<p><%=data[i].email%></p>

				<form data-email="<%=data[i].email%>">
					<input type="number" name="amount">
					<button>Fund</button>
				</form>

				<div></div>
			</article>
		<%}%>



	<script type="text/javascript">

		const form = document.querySelectorAll("form");



		form.forEach((each)=>{

			each.addEventListener("submit", async(e)=>{
				e.preventDefault();

				try{
					const result = await fetch(`/admin_funding/add/${each.dataset.email}/${each.amount.value}`, {
						
						method: "DELETE"
					});

					const res = await result.json();
					if(res.okay){
						alert(`${each.amount.value} funded`)
					}
				}catch(error){
					console.log(error);
				}
			});
		
		})




		
		
	</script>
</body>
</html>