<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/site_icon.jpg">


	<style type="text/css">

		html{
			font-family: arial;
		}

		input{
			width: 90%;
			display: block;
			margin-left: 5%;
			font-size: 20px;
			padding: 15px 0 15px 10px;
			margin-top: 20px;
			border: 1px solid black;
		}


		button{
			padding: 10px 30px;
			margin-left: 5%;
			margin-top: 10px;
			font-size: 16px;
		}

	</style>


	<title>Admin Funding</title>
</head>





<body>

	<main>
			
			<h1 style="color: green">Submit Your Fund Request.</h1>

			<p>Our administrators checks these transactions and fund wallets, and it's very stressful to them. As punishment, you will be block from using our platform if you fill this information when you have not actually made the transaction.</p>



			<form class="add_fund">
				<input type="number" name="email" placeholder="Enter Your Registerd Phone Number">
				<input type=" number" name="amount" placeholder="Enter The Amount You Transfered">
				<input type="text" name="" placeholder="Enter your Account Name">
				<button class="submit_button">Submit</button>
			</form>
		

	</main>
















	<script type="text/javascript">

			const form = document.querySelector("form");
			const submit_button = document.querySelector(".submit_button");

			form.addEventListener("submit", async(e)=>{
				e.preventDefault();


				

			});
				



		
		
		


	</script>

</body>
</html>