<!DOCTYPE html>
<html>
<head>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact</title>



	<style type="text/css">
		input{
			display: block;
			margin: 15px 0;
			border: 1px solid black;
			width: 80%;
			height: 30px;
		}
	</style>
</head>




<body>

	<form>
		
		<input type="type" name="link" value="<%=data.link%>">
		<input type="number" name="number" value="<%=data.number%>">
		<input type="text" name="bank" value="<%=data.bank%>">
		<input type="text" name="accountName" value="<%=data.accountName%>">
		<button>Submit</button>
	</form>



	<script type="text/javascript">
		
		const form = document.querySelector("form");


		form.addEventListener("submit", async(e)=>{
			e.preventDefault();

			try{
				const result = await fetch("/contact_info", {
					method: "POST",
					headers: {"Content-Type": "application/json"},
					body: JSON.stringify({
						link: form.link.value,
						number: form.number.value,
						bank: form.bank.value,
						accountName: form.accountName.value
					})
				});

				const res = await result.json();

				if(res.okay){
					alert("Done");
				}

			}catch(error){

			}
		});
	</script>


</body>
</html>