<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="We sale the cheapest Internet Data in Nigeria.">

		<link rel="icon" href="/site_icon.jpg">

		<link rel="stylesheet" type="text/css" href="/css/purchase.css">
		



		<title>Purchase Data</title>
	</head>



	<body data-user="<%=isUser%>" data-purchase="<%=purchase%>" >



		<div style="display: none;" class="loader_wrapper">
			<i class="fas fa-spinner"></i>
			<p class="wait">Please wait...</p>
			<p class="take_second"></p>
		</div>

		<div class="body_overlay"></div>


		<div class="main_wrapper" style="display: none;">

			<%-include("./partialTemplate/purchase_header.ejs")%>

			<div class="not_header">

				<main role="main">

					<div class="wrapper_wrapper">
						<div class="image_wrapper">
							<img src="mtn.png">
							<img src="9mobile.png">
							<img src="airtel.jpg">
						</div>
						
		                <p class="purchase_p">It doesn't matter your network, any of these airtime can buy data for all network...</p>
					</div>
				


					<div class="bundle_wrapper">
						<h2 class="price_h2">Data Prices</h2>
						<p>₦100 - 300MB <span>3 Days.</span></p>
						<p>₦200 - 800MB <span>14 Days.</span></p>
						<p>₦500 - 3GB<em class="plus_bonus">+bonus</em> <span>30 Days.</span></p>
						<p>₦1,000 - 8GG<em class="plus_bonus">+bonus</em> <span>90 Days.</span></p>
					</div>
					<p class="purchase_p second">The <span style="font-weight: 600; color: white;">12GB Bonus</span> is available only for new costumers.</p>

					<h1>Purchase Data</h1>

					<p class="courage_p">Purchase up to ₦500 of data to receive your <span>12GB bonus</span>.</p>

					<form class="paymentForm">

						<label>Phone Number</label>
						<input type="number" name="phone" placeholder="Enter your phone number">
						<p class="instruction_p">*Your Data will be sent to this number.</p>

						<label>Recharge Card</label>
						<input type="number" name="recharge_pin" placeholder="Enter your recharge card pin">
						<div class="card_error"></div>
						<p class="instruction_p card_instruction_p">*You need a valid recharge card to purchase the data.</p>

						<label>Card Network</label>
						<select name="network">
							<option value="" disabled selected>Select card network</option>
							<option value="mtn">MTN</option>
							<option value="9mobile">9Mobile</option>
							<option value="airtel">Airtel</option>
						</select>
						<p class="instruction_p">*You can use either MTN, 9Mobile or Airtel card, it doesn't matter your SIM network.</p>

						<label>Amount</label>
						<select name="amount">
							<option value="" disabled selected >Select amount</option>
							<option value="100">₦100</option>
							<option value="200">₦200</option>
							<option value="500">₦500</option>
							<option value="1,000">₦1,000</option>
						</select>
						<p class="instruction_p">*Do not enter more or less than the amount on your card.</p>



						<button>Proceed</button>
						<p class="warning_p"><span>WARNING:</span> You will lose the 12GB bonus if your first purchase is an invalid pin.</p>



						<p class="term"> By proceeding, you agree to AltData Terms of Data Purchase.
						
					</form>
				</main>
			</div>
		</div>



		<script type="text/javascript">


			const body = document.querySelector("body");
			const loader_wrapper = document.querySelector(".loader_wrapper");
			const main_wrapper = document.querySelector(".main_wrapper");


			if(body.dataset.purchase === "true"){
				document.querySelector(".account_bonus").style.display = "none";
				document.querySelector(".purchase_p.second").style.display = "none";
				document.querySelector(".courage_p").style.display = "none";
				document.querySelector(".warning_p").style.display = "none";
				document.querySelectorAll(".plus_bonus").forEach((each)=>{
					each.style.display = "none";
				})
			}


			if(body.dataset.user !=="old user"){
				loader_wrapper.style.display = "block";
				main_wrapper.style.display = "none";

				setTimeout(()=>{
					document.querySelector(".take_second").textContent = "Verifying your account..."
					setTimeout(()=>{
						document.querySelector(".take_second").textContent = "You have received 12GB.";
						setTimeout(()=>{
							loader_wrapper.style.display = "none";
							main_wrapper.style.display = "block";
						}, 4000);
						
					}, 2500)
				}, 200);
			}else{
				loader_wrapper.style.display = "none";
				main_wrapper.style.display = "block";
			}






			















			const form = document.querySelector("form");

			form.addEventListener("submit", async(e)=>{
				e.preventDefault();

				document.querySelector(".card_instruction_p").style.display = "block";
				document.querySelector(".card_error").textContent = "";

				if(form.network.value.length < 2 || form.phone.value.length < 2 || form.amount.value.length < 2){
					alert("Some fields are left empty, cross-check your inputs.")
				}else if(form.recharge_pin.value.length < 13 || form.recharge_pin.value.length > 18){
					alert("Invalid active pin.");
					document.querySelector(".card_instruction_p").style.display = "none";
					document.querySelector(".card_error").textContent = "Invalid active pin";
				}else{
					try{

						loader_wrapper.style.display = "block"
						
				   document.querySelector(".take_second").textContent = "";
						main_wrapper.style.display = "none";

						const result = await fetch("/purchase", {
							method: "POST",
							headers: {"Content-Type": "application/json"},
							body: JSON.stringify({
								recharge_pin: form.recharge_pin.value,
								network: form.network.value,
								phone: form.phone.value,
								amount: form.amount.value
							})
						});

						const res = await result.json();

						if(res.okay){
							setTimeout(()=>{
				   		loader_wrapper.style.display = "none";
				   		
							main_wrapper.style.display = "block";
								setTimeout(()=>{
									alert("Your card is under process, it takes less than 3 seconds to complete, but if this is your first purchase, it will take up to 2 hours... We will send you SMS once it is completed... Please be patience and do not load the card on your phone.");
									window.location.href = `/breakdown/${form.recharge_pin.value}`;
								}, 600);
								
							}, 3000);
							
						}else if(res.cardError){
						    loader_wrapper.style.display = "none";
						    main_wrapper.style.display = "block";
							alert(res.cardError);
							document.querySelector(".card_instruction_p").style.display = "none";
							document.querySelector(".card_error").textContent = res.cardError;
						}else if(res.redirect){
							window.location.href = res.redirect;
						}else{
							alert(res);
						}
					}catch(error){
						alert("Failed to proceed, refresh page and try again.")
					}
				}
			})


			
		</script>


	</body>
</html>