<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">



	


	<link rel="stylesheet" type="text/css" href="/css/purchase.css">

	<style type="text/css">

		body{
			background-color: rgb(230, 230, 230);
		}
		
		h2{
			margin: auto;
			font-size: 2.4rem;
			width: 90%;
			text-align: center;
			color: rgb(100, 100, 100);
		}

		li{
			color: rgb(130, 130, 130);
			margin: auto;
			margin-top: 20px;
			font-size: 1.3rem;
			width: 90%;
		}

		main{
			background-color: white;
			border: 1px solid rgb(200, 200, 200);
			width: 90%;
			margin: 30px auto 0 auto;
			border-radius: 15px;
			padding: 30px 15px;
			box-sizing: border-box;
		}
	</style>


	<title>Terms of Service</title>
</head>
<body>


	<div class="body_overlay"></div>

	<%-include("./partialTemplate/purchase_header.ejs")%>



	<main>
		<h2>Terms of Services</h2>

		<ul>
			<li>You must invite at least 9 people before being able to purchase and receiving data from Alt Data</li>
			<li>To withdraw referral rewards, you must have at least N10,000 in your referral balance.</li>
			<li>You will not be able to withdraw your rewards if you have not purchase data on our site (At least N500 of data)</li>
			<li>If you purchase data when you are not qualified, the data will remain hanging until you complete the necessary requirements.</li>
			<li>All transactions made to our account are not refundable.</li>
		</ul>
	</main>

</body>
</html>