@media screen and (min-width: 200px){



	h1{
		padding: 50px 10px 0 10px;
		font-weight: 200;
		font-size: 1.8rem;
		color: white;
		text-align: center;
		border-top: 1px solid rgb(30, 40, 60);
		border-radius: 20px 20px 0 0;
		margin: 0 auto 0 auto;
		background-image: linear-gradient(30deg, rgb(5, 30, 70), rgb(0, 0, 10) 20% 100%);
	}


	h1 > span{
		display: block;
		margin-top: 5px;
	}





	.signup_wrapper{
		width: 80%;
		border-radius: 1px;
		margin: 20px auto 0 auto;
		padding: 5px;
		background-color: white;
		color: black;
	}



	.new{
		margin: 10px auto 20px auto;
		font-size: 1.7rem;
		width: 93%;
	}



	.facebook, .gmail{
		display: grid;
		grid-template-columns: 15% 85%;
		width: 93%;
		margin: auto;
		padding: 3px 0;
		border-radius: 1px;
	}




	.facebook span, .gmail span{
		display: block;
		text-align: center;
		margin: auto;
		font-size: 1.1rem;
		color: white;
	}


	

	.facebook{
		
		background-color: rgb(40, 40, 100);
	}


	.gmail{
		background-color: rgb(210, 40, 20);
	}


	.or{
		font-size: 1.2rem;
		padding: 7px 0;
		text-align: center;
	}



	.fa-google, .fa-facebook-f{
		margin: auto;
		margin-left: 3px;
		text-align: center;
		background-color: white;
		display: block;
		padding: 3px 7px;
		font-size: 1.3rem;
		color: rgb(40, 40, 100);
	}


	.fa-google{
		color: rgb(210, 40, 20);
		padding: 3px 5.7px;
	}



	.term{
		font-size: 1.1rem;
		line-height: 1.2;
		color: rgb(120, 120, 120);
		margin-top: 20px;
		text-align: center;
	}


}















@media screen and (min-width: 250px){

	h1{
		font-size: 2rem;
	}


	.facebook, .gmail{
		padding: 4px 0;
	}




	.fa-google, .fa-facebook-f{
		padding: 4px 9px;
		margin-left: 5px;
		font-size: 1.4rem;
	}


	.fa-google{
		padding: 4px 7px;
	}


}

















@media screen and (min-width: 300px){

	h1{
		font-size: 2.5rem;
	}
}



















@media screen and (min-width: 350px){

	h1{
		font-size: 3rem;
	}


	.new{
		font-size: 2rem;
		margin-bottom: 30px;
	}


	.facebook, .gmail{
		padding: 5px 0;
	}



	.facebook >span, .gmail > span{
		font-size: 1.2rem;
	}




	.fa-google, .fa-facebook-f{
		padding: 5px 10px;
		margin-left: 5px;
		font-size: 1.5rem;
	}


	.fa-google{
		padding: 5px 9px;
	}

	.term{
		font-size: 1.2rem;
		margin-top: 30px;
	}


}