
	<header class="main_header">

		<div class="menuIcon_to_login">
			<div class="menu_icon" aria-label="Open extra navigation">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<a href="/purchase" class="siteLogo">Megga-Data</a>

			
			<div class="login_wrapper">
					<a title="Login" aria-label="Login" class="login" href="/facebook">Login</a>

					<a title="Sign Up" aria-label="Sign Up" class="sign_up" href="/facebook">Sign Up</a>
			</div>
				

			
		</div>
	</header>


	
