
	<header class="main_header">


		<div class="menu">
			<nav class="menu_nav" aria-label="side">
				<ul>

					<li><a title="Profile" href="/referral"><i class="fas fa-wallet"></i> My Wallet </a></li>

					<li><a title="Withdraw Reward" href="/withdraw"> <i class="fas fa-location-arrow"></i>  Withdraw</a></li>

					<li><a title="refer and earn cash" href="/referral"><i class="fas fa-dollar-sign"></i> Refer & Earn</a></li>

					<li><a title="Customer Care Service" class="whatsapp"><i class="fas fa-comment-dots"></i> Costumer Care</a></li>

					<li><a title="terms of services" href="/term"><i class="fas fa-handshake"></i>Terms of Services</a></li>

				</ul>
			</nav>
		</div>



		<div class="menuIcon_to_login">
			<div class="menu_icon" aria-label="Open extra navigation">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<a href="/purchase" class="siteLogo">Alti-Data</a>
			
			<a title="Profile" aria-label="Profile" class="account_wrapper" href="/profile">
				<i class="far fa-user-circle"></i>
				<span class="account_bonus">+8GB</span>
			</a>
		</div>
	</header>





	<script type="text/javascript">

		const whatsapp = document.querySelector(".whatsapp");

		let d = new Date;
		let minute = d.getMinutes();




		minute = parseInt(minute);

		if(minute%2 == 0){
			whatsapp.href = "https://wa.me/message/C5FZU6DP7DYVC1";
		}else{
			whatsapp.href = "https://wa.me/message/C5FZU6DP7DYVC1";
		}

		
		


		if(document.querySelector("body").dataset.purchase === "true"){
			document.querySelector(".account_bonus").style.display = "none";
		}


		let html = document.querySelector("html");
		let menuIcon = document.querySelector(".menu_icon");
		let menu = document.querySelector(".menu");
		const body_overlay = document.querySelector(".body_overlay");
		menu.style.width = "0";
		menu.style.opacity ="0";

		menuIcon.addEventListener("click", ()=>{

			body_overlay.addEventListener("click", ()=>{
				body_overlay.style.opacity = "0";
				body_overlay.style.display = "none";
				menu.className = "close_menu menu";
				menu.style.border ="none";
			});

			if(menu.offsetWidth < 10){
				body_overlay.style.display = "block";
				body_overlay.style.opacity = "0.7";
				menu.style.opacity ="100%";
				menu.className = "open_menu menu";
				menu.style.borderRight ="1px solid rgb(80 80 80)";
				menu.style.borderBottom ="1px solid rgb(80 80 80)";

				window.onscroll = function() {
	  				body_overlay.style.opacity = "0";
					body_overlay.style.display = "none";
					menu.className = "close_menu menu";
					menu.style.border ="none";
				};

			}else{
				body_overlay.style.opacity = "0";
				body_overlay.style.display = "none";
				menu.className = "close_menu menu";
				menu.style.border ="none";

				window.onscroll = function(){//empty function to override the disabled scrolling
				};
			}
		});



	//Escape Key;
		document.addEventListener('keydown', function(event){
			if(event.key === "Escape"){
				body_overlay.style.opacity = "0";
				body_overlay.style.display = "none";
				menu.className = "close_menu menu";
				menu.style.border ="none";

				window.onscroll = function(){//empty function to override the disabled scrolling
				};
			}
		});



	//Clicking outside
		html.addEventListener("click", ()=>{
			if(menu.offsetWidth > 10){
				body_overlay.style.opacity = "0";
				body_overlay.style.display = "none";
				window.onscroll = function(){//empty function to override the disabled scrolling
				};

				menu.className = "close_menu menu";
			}
		});

	</script>